.main__main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}

.main__sidebar{
    background: $dark-grey;
    border-radius: 1rem 0 0rem 1rem ;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    height: 80vh;
    width: 25vw;

}

.main__sidebar-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;

    button{
        margin-left: 1rem;
    }

    

}

.main__sidebar-menu{
    margin-top: 1rem;
}

.main__sidebar-navbar-avatar{

    display: flex;

    img{
        max-height: 4vh;
        border-radius: 15rem;
        margin: 0;
    }

    h3{
        padding: 4px;
        margin: 0 0 0 .5rem;
        align-self: center;
    }
}




.main__toolbar{
    width: 50px;
    height: 50px;
    align-self: flex-start;
    justify-self: flex-start;
    margin: 0;
    padding: 0;
}


.main__new-entry{
    align-items: center;
    cursor: pointer;
    color:black;
    display: flex;
    height: 8vh;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    transition: color .2s ease;
    background-color: white;
    border-radius: .5rem;
    width: 80%;
    i{
        font-size: 36px;
        margin-right: 1rem;
    }
    p{
        margin: auto 0;

    }
  

    &:hover{
        color: lighten($color: black, $amount:40)
    }
}

.main__entries{
    flex: 1 1 auto;
    margin-top: 30px;
    overflow-y: scroll;

}

.main__entry{
    background-color: white;
    border-radius: 4px;
    color: $dark-grey;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 22vw;
    height: 8vh;   
    transition: background-color .3s ease;
    &:hover{
        background-color: darken($color: white, $amount: 20);
    }

}

.main__entry-picture{
    img{
        width: 6vw;
        height: 100%;
    }
}

.main__entry-default-picture{
    padding: .2rem .8rem;
}

.main__entry-body{
    padding: 1rem 0;
    margin-left: 1rem;
    width: 50%;
}

.main__entry-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: .5rem;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}

.main__entry-content{
    display: block;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
  
}

.main__entry-date-box {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-display: column;
    justify-content: center;
    padding: 5px;
    width: 50%;
    height: 100%;
   
}
.main__entry-date-box span{
    font-size: 12px;
}



 @media screen and (max-width:450px) {

    .main__main-content{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
    }


    .main__sidebar{
        border-radius: 0;
        height: 100vh;
        overflow: hidden;
        transition: all .5s ease;
        width: 15vw;    
        position: absolute;
    }

    .main__sidebar-menu-btn{
        margin: auto;
    }

    .main__sidebar__active{
        width: 50vw;
    }

    .main__sidebar-menu{
        display: flex;
    }

    .main__sidebar-menu-btn_active{
       display: flex;
       align-items: flex-start;
       margin-left:1.5rem;
       height: 100vh;
    }

    .main__sidebar-navbar-avatar{
    
    }

    .main__new-entry{
        width: 100%;
    }

    .main__entries{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-left: .5rem;
    }

    .main__entry{
        width: 100%;
        align-self: center;
        padding: 0;
        margin: 0;

        img{
            display: none;
        }
    }
    .main__entry-body{
        padding: .5rem 0;
    }
 }
